$grayLight: #EFEFEF;
$gray: #B4B4B4;
$orange: #FF5219;
$red: #E32122;

$greenL: lighten(#3FA349, 20%);
$greenB: #429F36;
$greenGr: linear-gradient(180deg, #9DDE5C 0%, #3FA349 117.96%);


$brownL: lighten(#E2B37C, 10%);
$brownB: #E04300;
$brownGrL:linear-gradient(135deg, #FAD297 0%, #E2B37C 100%);
$brownGrB:linear-gradient(135deg, #FFA318 0%, #E04300 100%);

$transition2: .2s all;
$transition3: .3s all;
$transition4: .4s all;

