$blue: #0063F8;
$gray:#688A95;
$brown: #473512;;
$blueGr:linear-gradient(323.56deg, #0B0175 -4.25%, #0063F8 91.89%);;
$brownGr: linear-gradient(135deg, #C9BBAE 0%, #9A7F5F 100%);
$radiusBtn: 100px;
$transition2: .3s all;
$transition3: .3s all;