.animationShow {
  animation: showTabs .6s;
}

.animationHide {
  animation: hideTabs .6s;
}

@keyframes showTabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideTabs {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bot-to-top {
  0% {
    opacity: 0;
    transform: translateY(700px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes top-to-bot {
  0% {
    opacity: 0;
    transform: translateY(-700px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animation-r-to-l{
  animation-name: opacity;
  animation-duration: .3s;
}
@keyframes r-to-l {
  0% {
    opacity: 0;
    transform: translateX(360px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes l-to-r {
   0% {
     opacity: 0;
     transform: translateX(-360px);
   }
   100% {
     opacity: 1;
     transform: translateX(0);
   }
 }
@keyframes l-to-r-fix {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(1000px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate360 {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}