.btn {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  transition: $transition2;
  cursor: pointer;
  background: transparent;
  border: 3px solid $red;
  color: $red;

  &:hover, &.active {
    background: $red;
    border: 3px solid $red;
    color: #fff;
  }


  &-border-white{
    background: transparent;
    border: 3px solid #fff;
    &:hover,&.active{
      border: 3px solid $redLight;
    }
  }
  &-border-red{
    background: transparent;
    border: 3px solid $red;
    color: $red;
    &:hover,&.active{
      border: 3px solid $red;
      background: $red;
      color: #ffffff;
    }
  }
}

