.card {
  margin-bottom: 35px;

  &-img {
    position: relative;

    &__btn {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      position: absolute;
      right: 10px;
      transition: $transition2;
      &:hover{
        background-color: $greenL;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__sett {
    top: 60px;
  }

  &__heart {
    top: 10px;
  }

  &-info {
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding: 20px 25px;
    background: #fff;
  }

  &__name {
    font-size: 20px;
    line-height: 30px;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
    height: 60px;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;

    span {
      font-weight: 600;
    }
  }

  &__price {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
  }

  &-footer {
    display: flex;

    &__block {
      width: 50%;
      border-left: 1px solid $gray;
      border-right: 1px solid $gray;
      border-bottom: 1px solid $gray;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 17px 0;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: inherit;
      letter-spacing: normal;

      &:first-letter {
        text-transform: uppercase;
      }

      &:first-child {
        border-right: none;
      }
    }
  }
}
@media (max-width: 1399px){
  .card{
    &__text{
      font-size: 12px;
    }
    &-footer{
      &__block{
        font-size: 11px;
      }
    }
  }
}
@media (max-width: 991px){
  .card{
    &__name{
      font-size: 17px;
      line-height: 24px;
      height: 50px;
    }
  }
}
@media (max-width: 575px){
  .card{
    &-info{
      padding: 15px;
    }
    &-footer{
      flex-wrap: wrap;
      &__block{
        width: 100%;
        &:first-child{
          border-right: 1px solid #B4B4B4;
        }
      }
    }
  }
}