.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
  &__title {
    width: 100%;

  }

  &-item {
    position: relative;
    justify-content: center;
    overflow: hidden;
    transition: $transition2;
    &:hover{
      img{
        transform: scale(1.2);
      }
    }

    img {
      transition: $transition4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;


    }

    &-big {
      width: 50%;
      height: 440px;
      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(123.85deg, #FFFFFF -2.6%, rgba(255, 255, 255, 0.56) 29.09%, rgba(255, 255, 255, 0) 60.5%);
      }
    }

    &-small {
      width: 14.2857%;
      height: 500px;
      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(176.69deg, #FFFFFF 5.31%, rgba(255, 255, 255, 0.56) 40.97%, rgba(255, 255, 255, 0) 60.45%);
      }
    }

    &__title {
display: block;
      font-size: 36px;
      line-height: 40px;
      right: 15px;
      padding-bottom: 40px;
    }
    &__content{
      position: absolute;
      top: 60px;
      left: 55px;
      display: block;
      z-index: 10;
      max-width: 440px;
    }
    &__text{
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      display: block;
      &-s{
        position: absolute;
        top: 35px;
        left: 40px;
        right: 15px;
        z-index: 10;
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
      }
    }

  }
}