.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;

  &-nomb {
    margin-bottom: 0;
  }

  &__title {
    width: 100%;

  }

  &-item {
    position: relative;
    justify-content: center;
    overflow: hidden;
    transition: $transition2;

    &__form {
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      form {
        max-width: 650px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

        h3, h4 {
          width: 100%;
        }

        h3 {
          font-weight: bold;
          font-size: 22px;
          line-height: 27px;
        }

        h4 {
          font-weight: 300;
          font-size: 36px;
          line-height: 44px;
          margin-bottom: 20px;
        }

        input, button, p {
          width: 48%;
          height: 60px;
          margin-bottom: 30px;
        }

        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
        }
      }
    }



    img {
      transition: $transition4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover;
    }

    &-big {
      width: 50%;
      height: 440px;

      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(123.85deg, #FFFFFF -2.6%, rgba(255, 255, 255, 0.56) 29.09%, rgba(255, 255, 255, 0) 60.5%);
      }
    }

    &__404 {
      &::before {
        content: '';
        display: none;
      }
    }

    &__list {
      padding-left: 55px;

      a.service-nav__link {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
      }
    }

    &-small {
      width: 14.2857%;
      height: 500px;

      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(176.69deg, #FFFFFF 5.31%, rgba(255, 255, 255, 0.56) 40.97%, rgba(255, 255, 255, 0) 60.45%);
      }
    }

    &__title {
      display: block;
      font-size: 36px;
      line-height: 40px;
      right: 15px;
      padding-bottom: 40px;
    }

    &__content {
      position: absolute;
      top: 60px;
      left: 55px;
      display: block;
      z-index: 10;
      max-width: 440px;
      right: 15px;
      bottom: 15px;
      margin-bottom: 15px;
    }

    &__text {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      display: block;
      background-color: rgba(#fff, .7);
      padding: 15px;
      border-radius: 18px;

      &-s {
        position: absolute;
        top: 35px;
        left: 40px;
        right: 15px;
        z-index: 10;
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  a.catalog-item{
      &:hover {
        img {
          transform: scale(1.2);
        }
    }
  }
}

@media (max-width: 1799px) {
  .catalog {
    &-nomb {
      margin-bottom: 0;
    }

    &-item {
      &__text {
        &-s {
          left: 25px;
          right: 25px;
        }
      }
    }
  }
}

@media (max-width: 1599px) {
  .catalog {
    &-item {
      &__title {
        font-size: 32px;
      }

      &__content {
        top: 40px;
        left: 40px;
      }

      &-big {
        height: 340px;
      }

      &-small {
        height: 400px;
      }

      &__text {
        &-s {
          left: 20px;
          right: 20px;
        }
      }
    }
  }
}

@media (max-width: 1399px) {
  .catalog {
    &-nomb {
      margin-bottom: 0;
    }

    margin-bottom: 150px;

    &__title {
      margin-left: 15px;
    }

    &-item {
      &__list {
        a.service-nav__link {
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 6px;
        }
      }

      &__list {
        padding-left: 15px;
      }

      &__text {
        font-size: 14px;
        line-height: 18px;
      }
      &__content {
        top: 15px;
        left: 15px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .catalog {
    &-nomb {
      margin-bottom: 0;
    }

    justify-content: center;
    margin-bottom: 100px;

    &-item {
      &-small {
        width: 25%;
      }

      &__title {
        padding-bottom: 25px;
      }


    }
  }
}

@media (max-width: 991px) {
  .catalog {
    &-nomb {
      margin-bottom: 0;
    }

    justify-content: center;
    margin-bottom: 75px;

    &-item {
      &__form {
        padding: 15px;

        form {
          h3 {
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
          }

          h4 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 15px;
          }

          input, button, p {
            height: 40px;
            margin-bottom: 15px;
          }

          p {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }

      &__text {
        &-s {
          top: 15px;
          left: 15px;
          right: 15px;
          font-size: 14px;
          line-height: 17px;
        }
      }

      &-small {
        width: 25%;
      }

      &__content {
        top: 15px;
        left: 15px;
      }

      &__title {
        font-size: 20px;
        line-height: 24px;
      }

      &-big {
        height: 250px;
      }

      &-small {
        height: 300px;
      }
    }
  }
}

@media (max-width: 767px) {
  .catalog {
    &-item {
      &__title {
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width: 575px) {
  .catalog {
    &-item {
      width: 100%;

      &-small {
        height: 200px;
      }

      &__title {
        padding-bottom: 10px;
      }
    }
  }
}
