.faq {
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    padding: 20px 42px;
    margin-bottom: 50px;
  }

  &__content {
    width: 70%;
  }

  &-img {
    height: 550px;
    width: 30%;
    position: relative;

    & > img {
      position: absolute;
      &:nth-of-type(1){
        right: 0;
        bottom: 0;
        animation: shake-hard 120s infinite ease-in-out;
      }
      &:nth-of-type(2){
        left: 80px;
        bottom: 40px;
        animation: shake-hard 160s infinite ease-in-out;
      }
      &:nth-of-type(3){
        left: 130px;
        top: 0;
        animation: shake-hard 180s infinite ease-in-out;
      }

      &:nth-of-type(4){
        top: 0;
        right: 20%;
        animation: shake-hard 150s infinite ease-in-out;
      }
      &:nth-of-type(5){
        left: 35%;
        bottom: 40%;
        animation: shake-hard 170s infinite ease-in-out;
      }
      &:nth-of-type(6){
        right: 25%;
        bottom: 10%;
        animation: shake-hard 190s infinite ease-in-out;
      }
      &:nth-of-type(7){
        top: 30%;
        left: 15%;
        animation: shake-hard 210s infinite ease-in-out;
      }
      &:nth-of-type(8){
        top: 25%;
        left: 60%;
        animation: shake-hard 230s infinite ease-in-out;
      }
      &:nth-of-type(9){
        right: 25%;
        bottom: 30%;
        animation: shake-hard 260s infinite ease-in-out;
      }
      &:nth-of-type(10){
        bottom: 10%;
        right: 40%;
        animation: shake-hard 300s infinite ease-in-out;
      }

    }
  }

  &-item {
    border-bottom: 1px solid $gray;

    &__header {

      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: -0.01em;
      margin: 25px 20px 25px -20px;
      padding-left: 20px;
      border-left: 3px solid transparent;
      transition: $transition3;
      cursor: pointer;

      &:hover {
        color: $red;
      }
      &.active{
        border-left: 3px solid $red;
        transform: translateX(20px);
      }
    }

    &__content {
      margin-bottom: 30px;
      padding-left:20px;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
    }
  }


}