.footer {
  background: #202020;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  width: 100%;

  &__content {
    width: 100%;
    max-width: 1920px;
    padding: 80px 80px 0;
  }

  &__top, &__center, &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: #fff;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 10px;

    img {
      margin-right: 30px;
    }
  }

  &__top {
    align-items: center;
    margin-bottom: 90px;
  }

  &__btn {
    padding: 27px 50px;
  }

  &-social {
    display: flex;
    align-items: center;

    &__link {
      margin-left: 60px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &-menu {
    width: 25%;
    padding-right: 15px;

    & > ul {
      margin: 0 !important;
      padding: 0 !important;

      & > li {
        list-style: none;
        margin-bottom: 15px;

        & > a {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #fff;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
  }

  &__center {
    margin-bottom: 60px;
  }

  &__bottom {
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    max-width: 1920px;
    padding: 30px 80px;
    border-top: 1px solid $gray;
  }

  &__copy {
    width: 50%;
  }

  &-submenu {
    display: flex;
    align-items: center;

    & > li {
      & > a {
        color: #fff;
        display: block;
        margin-right: 20px;

        &:hover {
          color: $red;
        }
      }
    }

  }

  &-submenu, &__oparin {
    width: 25%;
  }

  &__oparin {
    display: flex;
    align-items: center;

    svg {
      path {
        transition: $transition3;
      }
    }

    &:hover {
      svg {
        path {
          fill: $red;
        }
      }
    }
  }
}

@media (max-width: 1799px) {
  .footer {
    &__text {
      font-size: 26px;
      line-height: 30px;

      img {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 1599px) {
  .footer {
    &__content {
      padding: 60px 40px;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__btn {
      padding: 20px 35px;
    }

    &-social {
      &__link {
        margin-left: 30px;
      }
    }

    &__bottom {
      padding: 30px 40px;
    }

    &-menu {
      & > ul {
        & > li {
          & > a {
            font-size: 13px;
            line-height: 15px;
          }
        }
      }
    }

    &__text {
      font-size: 22px;
      line-height: 24px;

      img {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 1399px) {
  .footer {
    &__content {
      padding: 50px 30px;
    }

    &__text {
      font-size: 20px;
      line-height: 22px;
    }
  }
}

@media (max-width: 1199px) {
  .footer {
    &__text {
      font-size: 16px;
      line-height: 20px;
    }

    &__title {
      font-size: 16px;
      line-height: 18px;
    }

    &-menu {
      & > ul {
        & > li {
          margin-bottom: 10px;

          & > a {
            font-size: 12px;
          }
        }
      }
    }

    &__btn {
      padding: 20px 10px;
      font-size: 14px;
    }

    &__top {
      flex-wrap: wrap;
      margin-bottom: 50px;

      & > a {
        width: 25%;
      }

    }

    &-social {
      display: none;
    }

    &-submenu, &__oparin, &__copy {
      width: auto;
    }

    &__copy {
      padding-right: 15px;
    }

    &-submenu {
      padding-right: 15px;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: none;
      }
    }

    &__content {
      padding: 35px 15px;

    }

    &__center {
      margin-bottom: 30px;
    }

    &__bottom {
      padding: 25px 15px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &-menu {
      width: 50%;
      margin-bottom: 30px;
    }

    &__center {
      flex-wrap: wrap;
    }

    &__bottom {
      display: flex;
      flex-wrap: wrap;
    }

    &__copy {
      width: 100%;
      text-align: center;
      order: 3;
      margin-top: 20px;
      padding-right: 0;
    }
  }

}

@media(max-width: 575px) {
  .footer {
    &-menu {
      width: 100%;
      padding-right: 0;
    }

    &__top {
      a {
        width: 50%;

        &.footer__text {
          margin-top: 25px;
          order: 3;
        }
      }
    }
&__center{
  margin-bottom: 0;
}
    &-submenu {
      width: 100%;
      display: flex;
      justify-content: space-around;

      & > li {
        & > a {
          margin-right: 0;
        }
      }
    }

    &__oparin {
      justify-content: center;
      margin-top: 20px;
      width: 100%;
    }

  }
}