.footer {
  &__row {
    padding-bottom: 50px;
    border-bottom: 1px solid $gray;
    margin-bottom: 50px;
  }

  &-social {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    justify-content: flex-end;
    align-items: center;

    &__link {
      display: block;
      margin-left: 25px;
      transition: $transition2;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;

    &-p {
      margin-bottom: 10px;
    }
  }

  &__menu {
    padding-bottom: 25px;

    & > li {
      & > a {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #321726;
        display: block;
        margin-bottom: 4px;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    display: block;

    &-b {
      display: block;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__num {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #321726;
    display: block;
    margin-bottom: 10px;

    &-s {
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      color: #321726;
      display: block;
      margin-bottom: 40px;
    }
  }

  &__btn {
    display: flex;
    width: 100%;
    padding: 22px 0;
    margin-bottom: 40px;
  }

  &__info {
    font-size: 14px;
    line-height: 24px;
  }

  &__copy {
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 15px;
    color: #321726;
  }

  &__submenu {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > li {
      & > a {
        font-size: 12px;
        line-height: 15px;
        color: #321726;
        display: block;
        margin-left: 20px;

        &:hover {
          color: $greenB;
        }
      }
    }
  }

}

@media (max-width: 1399px) {
  .footer {
    &__num {
      font-size: 26px;

      &-s {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .footer {
    &__num {
      font-size: 20px;
      left: 24px;

      &-s {
        font-size: 18px;
        line-height: 20%;
      }
    }
  }
}

@media (max-width: 991px) {
  .footer {
    &-social {
      span {
        display: none;
      }
    }

    &__menu {
      margin-bottom: 30px !important;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__row {
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    &__copy {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 25px;
    }

    .header-logo {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 30px;
    }

    &-social {
      justify-content: space-between;

      &__link {
        margin-left: 0;
      }
    }

    &__submenu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px !important;

      & > li {
        & > a {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .footer {

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title{
      margin-bottom: 20px;
    }
    &__text,&__text-b,&__num,&__num-s,&__title,&__info{
      text-align: center;
    }
    &__text{
      &-b{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 30px;
        }
      }
    }
  }
}