.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;

  &__burger {
    display: none;
  }

  .logo {
    margin: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top, &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    padding-bottom: 25px;
  }

  &__btn {
    height: 100%;
    padding: 45px;
    display: flex;
    max-width: 340px;

    img {
      margin-right: 30px;
    }
  }

  &-currency {
    display: flex;

    &__item {
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      margin-right: 40px;

      img {
        margin-right: 8px;
        margin-top: -3px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__email {
    display: flex;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-right: 100px;

    img {
      margin-right: 10px;
    }
  }

  &__city {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    img {
      margin-right: 11px;
    }
  }

  &__content {
    width: 55%;
  }

  &-menu {
    width: calc(100% - 20px);
    padding: 0 60px;

    ul {
      margin: 0 !important;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        list-style: none;

        a {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }

  &-services {

  }

  &-net {
    padding-right: 50px;

    &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__tel {
      font-weight: 600;
      font-size: 22px;
      letter-spacing: -0.01em;
      line-height: 27px;
      white-space: nowrap;
      margin-right: 10px;
    }

    &__soc {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 10px;
      }
    }

    &__btn {
      margin-top: 15px;
      padding: 15px;
      white-space: nowrap;
    }
  }

  &-submenu {
    & > li {
      position: relative;

      &:hover {
        &>div{
          z-index: 1000;
          transform: scale(1);
          opacity: 1;
        }

      }

      & > div {
        width: 1344px;
        background-color: #fff;
        position: absolute;
        top: 21px;
        left: 0;
        display: flex;
        justify-content: space-between;
        transition: $transition2;
        z-index: -1;
        transform: scale(0);
        opacity: 0;

        & > div {
          & > img {
            object-fit: cover;
          }

          height: 100%;
          width: 450px;

        }

        & > ul {
          padding: 30px !important;
          margin: 0 !important;
          columns: 2 200px;

          width: calc(100% - 450px);

          & > li {
            list-style: none;

            & > a {
              font-weight: 300;
              font-size: 14px;
              line-height: 18px;
              margin-bottom: 15px;
              display: flex;
              align-items: center;
              padding-left: 20px;
              margin-left: -20px;
              position: relative;

              &::before {
                content: url("../img/mar.svg");
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                opacity: 0;
                transition: $transition2;
              }

              &:hover {
                transform: translateX(20px);

                &::before {

                  opacity: 1;
                }
              }

            }
          }
        }
      }
    }
  }

}