.headcrumbs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  position: relative;

  &__link {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    opacity: 1;
    transition: $transition3;
    padding-right: 30px;
    position: relative;

    &::after {
      //content: url('../img/hc.svg');
      display: inline-block;
      position: absolute;
      top: -1px;

      right: 12px;
    }

    &:last-of-type, &:last-child {
      opacity: .5;

      &::after {
        content: none;

      }
    }
  }
}

.kama_breadcrumbs {
  padding: 30px 0 35px 55px !important;
  z-index: 10;
  position: relative;

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & > span {
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
      opacity: 1;
      transition: $transition3;
      padding-right: 30px;
      position: relative;

      &.kb_title {
        opacity: .4;
        padding-right: 0;
        font-weight: bold;
      }

      &.kb_sep {
        position: relative;
        padding-right: 0;

        &::after {
          content: url('../img/hc.svg');
          display: inline-block;
          position: absolute;
          top: -1px;

          right: 12px;
        }
      }
    }
  }

}

.breadcrumbs {
  &-gray {
    .kama_breadcrumbs {
      .container {
        color: #fff;

        & > span {
          color: #fff;

          span {
            color: #fff;
          }

          &.kb_title {
            opacity: 1;
          }

          &.kb_sep {

            &::after {
              content: url('../img/hcw.svg');
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1399px) {
  .kama_breadcrumbs {
    padding: 30px 0 35px 15px !important;
  }
}