.rating-star {
    display: inline-block;
  
    & li {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url('../img/ratingstar.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: -2px;
    }
  
    & li.active {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url('../img/ratingstaractive.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &__star{
      & li{
        background-image: url('../img/ratingstar.svg');
      }
      & li.active{
        background-image: url('../img/ratingstaractivegreen.svg');
      }
    }
  }