.review {
  display: flex;
  margin-bottom: 45px;
  flex-direction: column;

  &__nav {
    margin-bottom: 35px;
  }

  &-border {
    position: relative;
    border-left: 1px solid $gray;
    padding-left: 25px;

  }

  &-block {
    padding-bottom: 50px;


    &__link {
      padding-top: 6px;

      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      padding-right: 35px;
      position: relative;

      &::before {
        content: url("../img/arrr.svg");
        position: absolute;
        top: 3px;
        right: 0;
      }
    }
  }

  &-img {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      border-radius: 50%;
      margin-right: 20px;
    }
  }

  &-feedback {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }


  &-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 15px;
  }

  &__content {
    max-width: 600px;
  }

  &__date {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding-left: 25px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
  }

  &-imgs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    img {
      margin: 0 20px 20px 0;
    }
  }
}


@media (max-width: 1199px) {
  .review {
    padding-right: 0;

    &__content {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .review {
    padding-right: 0;
    margin-bottom: 20px;
    &-border {
      border-left: none;
      padding-left: 0;
    }
    &-block {
      padding-bottom: 25px;
      &__link {
        font-size: 11px;
        line-height: 20px;
        padding-top: 2px;
      }
    }
    &__nav{
      margin-bottom: 15px;
    }
    &__text{
      font-size: 13px;
      line-height: 15px;
    }
    &-feedback{
      margin-bottom: 15px;
    }
    &-header{
      padding-bottom: 0;
    }
  }

}


@media (max-width: 575px) {
  .review {



    flex-direction: column;

    &-img, &__content {
      width: 100%;
    }

    &-img {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 20px;
    }
    &__name{
      width: 100%;
      margin-top: 15px;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      margin-left: 0;
    }

    &-block {
      &__link{
        padding-right: 0;
        padding-top: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
        &::before{
          content: none;
          display: none;
        }
      }
    }
  }
}