.title{
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  position: relative;
  margin-bottom: 55px;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 5px;
    background-color: $red;
  }
  &-pl{
    margin-left: 55px;
  }
  &-center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
}

@media screen and (max-width:1199px){
  .title{
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 30px;

  }
}
@media screen and (max-width:991px){
  .title{
    font-size: 30px;
    line-height: 36px;

  }
}
@media screen and (max-width:767px){
  .title{
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 25px;

  }
}
@media screen and (max-width: 575px){
  .title{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}