.animationShow {
  animation: showTabs .6s;
}

.animationHide {
  animation: hideTabs .6s;
}

.sectionAnimation{
  animation:bot-to-top .7s;
  animation-fill-mode: forwards;
}

@keyframes showTabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideTabs {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bot-to-top {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes top-to-bot {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes r-to-l {
  0% {
    opacity: 0;
    transform: translateX(360px);
  }
  100% {
    opacity: 4;
    transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kid {
  0% {
    transform: translate(-50%, 900px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes niz {
  0% {
    transform: translate(-50%, 400px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes subtitle {
  0% {
    transform: translate(-50%, -500px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes title {
  0% {
    transform: translate(-50%, 1100px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes text {
  0% {
    transform: translate(-50%, 300px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes subtext {
  0% {
    transform: translate(-50%, 350px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes btn {
  0% {
    transform: translate(-50%, 200px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}