.banner {
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 875px;
  position: relative;


  &-slide {
    z-index: 10;
    padding-top: 80px;
    color: #FFFFFF;

    &__title {
      font-weight: bold;
      font-size: 72px;
      line-height: 87px;
      margin-bottom: 30px;
    }

    &__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      max-width: 520px;
      margin-bottom: 40px;
    }

    &__btn {
      padding: 20px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1399px) {
  .banner {
    min-height: 800px;
  }
}

@media (max-width: 1199px) {
  .banner {
    min-height: 700px;
  }
}

@media (max-width: 991px) {
  .banner {
    margin-bottom: 75px;
    min-height: 650px;


    &-slide {
      &__text {
        max-width: 450px;
        background-color: rgba(#000, .4);
        border-radius: 8px;
        padding: 15px;
      }
    }
  }
}

