.search{
  margin-bottom: 100px;
  &-link{
    display: block;
    max-width: 600px;
    margin-bottom: 30px;
    &__title{
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    &__text{
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
@media (max-width: 575px){
  .search{
    margin-bottom: 75px;
    &-link{
      margin-bottom: 25px;
      &__title{
        font-size: 16px;
      }
      &__text{
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}