.solutions{
  margin-bottom: 120px;
  &-item{
    &__img{
      margin-bottom: 24px;
    }
    &__name{
      display: block;
      margin-bottom: 70px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
@media (max-width: 1199px){
  .solutions{
    margin-bottom: 80px;
  }
}

@media (max-width: 767px){
  .solutions{
    margin-bottom: 70px;
    &-item{
      &__img{
        margin-bottom: 20px;
      }
      &__name{
        margin-bottom: 35px;
       }
    }
  }
}