.brands{
    margin-bottom: 150px;
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        margin-bottom: 50px;
        padding: 0 5px;
        opacity: 1;
        &:hover{
            transform: scale(1.1);
        }
        &.hidden{
            display: none;
            opacity: 0;
        }
        &.active{
            display: flex;
            opacity: 1;
        }
    }
}
@media (max-width: 991px) {
    .brands{
        margin-bottom: 80px;
    }
}
@media (max-width: 575px) {
    .brands{
        margin-bottom: 50px;
        &__wrapper{

        }
        &-item{
            width: 50%;
            margin-bottom: 20px;
        }
    }
}