.card {
  padding: 15px 20px;
  margin-bottom: 40px;
  transition: $transition3;

  &__line {
    background: $grayLight;
    width: 100%;
    height: 1px;
    margin-bottom: 40px;
  }

  &:hover {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }

  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__tag {
    position: absolute;
    top: 15px;
    right: 10px;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: #0051EE;
  }

  &__heart {
    transition: $transition2;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
  }

  &__name {
    margin-bottom: 3px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
    height: 40px;
  }

  &__art {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;
    margin-bottom: 15px;
  }

  &-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &__old {
      font-size: 18px;
      line-height: 22px;
      text-decoration: line-through;
      text-transform: uppercase;
      color: #000000;
      opacity: 0.4;
    }

    &__new {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
    }

    &__discount {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: $orange;
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      padding-left: 20px;
      position: relative;

      &::before {
        content: url("../img/gal.svg");
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
    }

    &__link {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &-img {
    margin-bottom: 110px;

    &__item {
      margin-bottom: 40px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      display: block;

      img {
        width: 100%;
        height: 100%;
        transition: $transition4;
      }

      &::before {
        content: '';
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.25);
      }

      &:hover {
        img {
          transform: scale(1.15);
        }
      }
    }

    &__text {
      position: absolute;
      top: 25px;
      left: 30px;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      z-index: 11;

      span {
        padding-top: 15px;
        font-weight: normal;
        font-size: 32px;
        line-height: 24px;
      }
    }

  }
}

@media (max-width: 1399px) {
  .card{
    &-price{
      &__old{
        font-size: 16px;
      }
      &__new{
        font-size: 22px;
      }
      &__discount{
        font-size: 22px;
      }
    }
    &-img{
      &__text{
        font-size: 18px;
        line-height: 22px;
        span{
          font-size: 28px;

        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .card{
    &__line{
      display: none;
    }
    &-img{
      &__text{
        top: 20px;
        left: 20px;
        font-size: 16px;
        line-height: 20px;
        span{
          font-size: 24px;

        }
      }
    }
  }
}
@media (max-width: 991px) {
  .card{
    margin-bottom: 15px;
    &-img{
      margin-bottom: 60px;
    }
  }
}