.header {
  margin: 25px 0 0;


  &__burger {
    display: none;
  }

  &-scroll {
    max-width: 1400px;


    &.fixed {
      background-color: #fff;

      z-index: 10000;
      position: fixed;
      top: 0;
      height: 72px;

      &::before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 1px;
        top: 72px;
        left: 0;
        background-color: $orange;
      }
    }
  }

  &-basket {
    display: flex;
    align-items: center;
    position: relative;
    &__item {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;

      & > span {

        margin-right: 45px;
      }
    }

    &__img {
      margin-right: 15px;
    }

    &__count {
      position: relative;
      &:hover{
        .header-basket__open{
          display: block;
        }
      }
    }

    &__open {
      display: none;
      position: absolute;
      top: 30px;
      right: 0;
      width: 420px;
      background-color: #fff;
      border: 1px solid $gray;
      z-index: 1000;
      padding: 30px;
      max-height: 400px;
      overflow-y: scroll;
      overflow-x:  hidden;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
      }
      &.active{
        display: block!important;
      }
      &.drag{
        overflow: hidden;

        &::before{
          content: 'Вы можете перенести свой товар сюда';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #cbcbcb;
          color: #212121;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }
      &.dragleave{
        &::before{
          background-color: lighten(#cbcbcb, 35%);
        }
      }

    }
    &__name{
      display: block;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 20px;
    }
    &__product{
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid rgba(#000, .3);
    }
  }

  &__left {
    width: 160px;
    padding-right: 30px;

  }

  &__right {
    width: calc(100% - 160px);

    &-top {
      margin-bottom: 25px;
      justify-content: space-between;
    }

    &-bot {
      justify-content: space-between;
    }
  }

  &__city {
    min-width: 210px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    position: relative;

    span {
      padding-left: 5px;
    }

    &::before {
      content: url("../img/triangleblack.svg");
      position: absolute;
      top: 2px;
      right: 25px;
      display: block;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    li {
      margin-right: 50px;

      &:last-of-type {
        margin-right: 10px;
      }

      a {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        white-space: nowrap;
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    img {
      margin-right: 15px;
    }
  }

  &__search {

    &-img {
      display: none;
    }
  }

  &-category {
    &__list {
      display: flex;
      background-color: #fff;
      z-index: 100;

      & > li {

        position: relative;
        z-index: 10;

        &:last-of-type {
          padding-right: 0;
        }

        & > a {
          display: flex;
          align-items: center;
          padding: 25px;
          color: #FFFFFF;
          background: $gray;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          z-index: 22;

          span {
            padding-left: 25px;
          }

        }

        ul {
          z-index: -1;
          transform: scale(0);
          opacity: 0;
          position: absolute;
          left: 0;
          background: #FFFFFF;
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
          border-radius: 0 10px 10px 10px;
          padding: 25px !important;
          top: 66px;
          display: flex;
          flex-wrap: wrap;
          width: 575px;
          list-style: none;
          transition: $transition3;

          li {
            padding: 0 15px 15px !important;
            margin: 0 !important;
            width: 33.3333%;

            a {
              font-weight: 300;
              font-size: 14px;
              line-height: 17px;

            }
          }
        }

        &:hover {
          ul {
            z-index: 100;
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }

  }

  &__time {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-right: 25px;

    img {
      margin-right: 25px;
    }

    span {
      white-space: nowrap;
    }
  }

  &-connect {
    &__tel {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
    }

    display: flex;


    &__num {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }

    &__link {
      font-weight: 800;
      font-size: 12px;
      line-height: 15px;
      color: $orange;

      &:hover {
        color: #000000;
      }
    }

    &__social {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: block;
        margin-left: 5px;
      }
    }
  }

  &-catalog {
    &__list {

      display: flex;

      & > li {
        position: relative;
        padding: 25px;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          margin-right: 22px;
        }

        & > a {
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
        }

        &:hover {
          background-color: $orange;

          svg {
            path {
              fill: #fff;
            }
          }

          & > a {
            color: #fff;
          }

          .header-catalog__nav {
            z-index: 100;
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }

    &__nav {
      z-index: -1;
      transform: scale(0);
      opacity: 0;
      position: absolute;
      top: 71px;
      left: 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      outline: 1px solid $grayLight;

      & > li {
        padding: 16px 23px;
        width: 300px;

        & > a {
          font-size: 14px;
          line-height: 17px;
        }

        &:hover {
          background-color: $gray;

          & > a {
            color: #fff;
          }

          & > .submenu {
            z-index: 10;
            transform: scale(1);
            opacity: 1;

            & > li {

              &:hover {
                & img {
                  display: block;
                }

                .submenu {
                  z-index: 12;
                  transform: scale(1);
                  opacity: 1;
                  left: 429px;

                  & > li {
                    width: 300px;
                  }

                  & img {
                    display: block;

                  }
                }
              }

            }
          }

        }
      }
    }
  }
}

.submenu {
  background-color: #fff;
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  outline: 1px solid $grayLight;
  position: absolute;
  left: 299px;
  top: 0;

  & > li {
    opacity: 0.5;
    width: 430px;
    padding: 16px 20px;

    span {
      display: none;
      position: relative;
      height: 100%;
      width: 1px;

      &::after {
        content: url('../img/trr.svg');
        position: absolute;
        top: -12px;
        right: -10px;

      }
    }


    & > a {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        color: #000;
      }
    }

    &:hover {
      background: #F4F4F4;
      color: #000;
      opacity: 1;

      span {
        display: block;

      }
    }

    & img {
      display: none;
      position: absolute;
      outline: 1px solid $grayLight;
      left: 728px;
      top: 0;
      z-index: 20;
    }
  }

}


.form-wrapper-header {
  display: flex;
  align-items: center;
  margin-right: 25px;
  //position: fixed;
  //top: -70px;
  //visibility: hidden;
  //opacity: 0;
  //left: 0;
  width: 100%;
  //padding: 0 40px 10px;
  //background: $orange;
  //z-index: 100;
  //transition: $transition3;
  //max-width: 100%;

  &.active {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  &__exit {
    position: absolute;
    top: 18px;
    left: 10px;
  }

  & > span {
    & > input {
      height: 67px;
      padding: 24px;
      border: 1px solid #CBCBCB;
      width: 450px;
    }

    & > button {
      width: 67px;
      height: 67px;
      padding: 22px !important;
      background: $orange;
      transition: $transition2;

      img {
        object-fit: contain;
      }

      &:hover {
        background: $red;
      }
    }
  }

}

@media (max-width: 1399px) {
  .header {
    &-scroll {
      max-width: 1140px;

      &.fixed {
        height: 62px;

        &::before {
          top: 62px;
        }
      }
    }

    &__city {
      min-width: 120px;
    }

    &__menu {
      li {
        margin-right: 20px;
      }
    }

    &-category {
      &__list {
        & > li {
          & > a {
            padding: 17px;
            max-width: 160px;
          }
        }
      }
    }

    &-catalog {
      &__list {
        & > li {
          padding: 20px;
        }
      }

      &__nav {

        & > li {

          & > a {
          }

          &:hover {
            & > a {
            }

            & > .submenu {

              & > li {

                &:hover {
                  & img {
                    display: none;
                  }

                  .submenu {
                    & img {
                      display: none;

                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .form-wrapper-header {
      & > span {
        & > input {
          width: 260px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .header {
    &-scroll {
      max-width: 960px;

      &.fixed {
        height: 46px;

        &::before {
          top: 46px;
        }
      }
    }

    &__city {
      font-size: 13px;
      padding-right: 15px;

      &::before {
        right: 5px;
      }
    }

    &__left {
      width: 130px;
      padding-left: 15px;
    }

    &__right {
      width: calc(100% - 130px);
    }

    &__menu {
      li {
        margin-right: 15px;

        a {
          font-size: 13px;
        }
      }
    }

    &__user {
      font-size: 13px;

      img {
        display: none;
      }
    }

    &__search {

      &-img {
        display: flex;
        padding: 17px;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }

    &-catalog {
      &__list {
        & > li {
          padding: 12px;

          & > a {
            font-size: 12px;
          }

          &:hover {
            .header-catalog__nav {
              top: 46px;
            }
          }
        }
      }

      &__nav {
        & > li {
          width: 280px;
          padding: 15px;

          & > a {
            font-size: 13px;
          }

          &:hover {
            & > .submenu {
              & > li {
                &:hover {
                  .submenu {
                    left: 330px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .submenu {
      left: 281px;

      & > li {
        width: 330px;
        padding: 15px;

        & > a {
          font-size: 12px;
          line-height: 17px;
        }
      }
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .form-wrapper-header {

      position: fixed;
      top: -70px;
      visibility: hidden;
      opacity: 0;
      left: 0;
      width: 100%;
      padding: 10px 40px 10px;
      background: $orange;
      z-index: 100;
      transition: $transition3;
      max-width: 100%;

      &.active {
        visibility: visible;
        opacity: 1;
        top: 0;
      }

      &__exit {
        position: absolute;
        top: 18px;
        left: 10px;
      }

      & > span {
        &:first-of-type {
          width: 95%;
        }

        &:nth-of-type(2) {
          width: 5%;
        }

        & > input {
          padding: 3px 15px;
          max-width: 95%;
          width: 100%;
          border-radius: 18px;
        }

        & > button {
          margin-left: -31px;
          background: transparent;
          width: 40px;
          height: 40px;
          padding: 0 !important;

          img {
            object-fit: contain;
            width: 40px;
            height: 40px;
            margin-bottom: -14px;
          }

          &:hover {
            background: $orange;
          }
        }
      }

    }
  }

}

@media (max-width: 991px) {
  .header {
    &-scroll {
      max-width: 720px;

      &.fixed {
        height: 37px;

        &::before {
          top: 37px;
        }
      }
    }

    &__menu {
      li {
        margin-right: 12px;

        a {
          font-size: 11px;
        }
      }
    }

    &-category {
      &__list {
        & > li {
          & > a {
            padding: 10px;
          }
        }
      }
    }

    &__time {
      display: none;
    }

    &__search {
      &-img {
        padding: 0 15px;
      }
    }

    &-basket {
      & > a {
        &:first-child {
          display: none;
        }
      }
    }

    &-catalog {
      &__list {
        & > li {
          padding: 10px;

          & > a {
            font-size: 10px;

            & > svg {
              display: none;
            }
          }

          &:hover {
            .header-catalog__nav {
              top: 37px;
              left: -30px;

              & > li {
                width: 250px;
                padding: 10px;

                & > a {
                  font-size: 12px;
                  line-height: 14px;
                }
              }
            }
          }
        }
      }

      &__nav {
        & > li {
          &:hover {
            & > .submenu {
              & > li {

                &:hover {
                  .submenu {
                    left: 251px;

                    & > li {
                      width: 250px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .submenu {
        left: 251px;

        & > li {
          width: 250px;
          padding: 10px;

          & > a {
            font-size: 10px;
            line-height: 14px;

          }
        }

      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    margin: 15px 0;

    &-scroll {
      display: none;

      &.fixed {
        display: none;
        z-index: -1;

        &::before {
          display: none;
        }
      }
    }

    &__left {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      width: auto;
      height: auto;
    }

    &__burger {
      display: block;
    }

    &-basket {
      &__count{
        &:hover{
          .header-basket__open{
            display: none;
          }
        }

      }
      &__item {
        span {
          margin-right: 0;
        }
      }
    }

    &-catalog {
      &__list {
        flex-direction: column;
        align-items: center;
        margin: 35px 0 0 !important;

        & > li {
          text-align: center;
          padding: 5px;

          &:hover {
            background: transparent;

            & > a {
              color: $orange;

            }
          }

          & > a {
            text-align: center;
          }

          ul {
            display: none;
          }
        }
      }
    }

    &__menu {
      flex-direction: column;
      align-items: center;

      & > li {
        margin-right: 0;

        padding: 5px;

        & > a {
          font-size: 10px;
          font-weight: bold;
          text-transform: uppercase;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}