.review {
  display: flex;
  padding-right: 60px;
  margin-bottom: 45px;

  &__nav {
    margin-bottom: 35px;
  }

  &-border {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $grayLight;
      top: 0;
      right: 15px;
    }

  }

  &__title {
    padding-bottom: 20px;
  }

  &-block {
    padding-bottom: 150px;
&__header{
  margin-bottom: 65px;
}
    &__text {
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      padding-bottom: 40px;
    }
    &__btn{
      font-weight: 800;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
padding: 5px 40px;
position: relative;
&::before{
  content: url('../img/revi.svg');
  position: absolute;
  left: 0;
  top: 0;
}
    }
  }

  &-img {
    width: 140px;
    padding-right: 40px;

    img {
      border-radius: 50%;
    }
  }

  &__content {
    width: calc(100% - 140px);
    &-two{
      width: 100%;
    }
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 15px;
    &-two{
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      align-items: center;
      .review__name{
        width: auto;
        padding-top: 0;
      }
    }
  }

  &__date {
    font-size: 12px;
    line-height: 15px;
    padding-right: 60px;
  }

  &__name {
    width: 100%;
    padding-top: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
  }

  &-imgs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    img {
      margin: 0 20px 20px 0;
    }
  }
  &-answer{
    display: flex;
    margin-bottom: 30px;
    &__arr{
      width: 15%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      padding-right: 20px;
    }
    .review{
      width: 85%;
    }
  }
  &-item{
    border-bottom: 1px solid rgba(#000, .3);
    margin-bottom: 25px;
    &.noborder{
        border-bottom: none;
    }
  }
}

@media (max-width: 1199px) {
    .review{
        &-border{
            &::after{
                content: none;
                display: none;
            }
        }
    }
}
@media (max-width: 1199px) {
  .review{
    padding-right: 0;
    &-block{
      padding-bottom: 80px;
    }
  }
}
@media (max-width: 575px){
  .review{
    flex-direction: column;
    &-img,&__content{
      width: 100%;
    }
    
    &-img{
      display: flex;
      justify-content: center;
      padding: 0;
      margin-bottom: 20px;
    }
    &-header{
      &-two{
        flex-wrap: wrap;
        justify-content: center;
        .review__name{
          padding: 0 15px;
        }
      }
    }
    &-block{
      &__header{
margin-bottom: 30px;
        flex-wrap: wrap;
        justify-content: center!important;

      }
      &__btn{
        margin-bottom: 10px;
      }

      &__text{
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 25px;
      }
    }
  }
}