.tags, .tags-2 {
  position: relative;

  &-slide {
    width: auto !important;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
  }

  &__btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 14px;
    text-transform: uppercase;
  }

  &__next, &__next-2, &__next-3, &__prev, &__prev-2, &__prev-3 {
    cursor: pointer;
    position: absolute;
    top: calc(45% - 8px);
  }

  &__prev, &__prev-2, &__prev-3 {
    left: 0;
    transform: rotate(180deg);
  }

  &__next, &__next-2, &__next-3 {
    right: 0;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 0;
  }
}


@media screen and (max-width: 991px) {
  .tags {

    &__btn {
      padding: 4px 5px;
      font-size: 11px;
      line-height: 15px;
    }

    &__next, &__next-2, &__next-3, &__prev, &__prev-2, &__prev-3 {
      cursor: pointer;
      position: absolute;
      top: calc(50% - 8px);
    }
  }
}

@media (max-width: 767px) {
  .tags {
    &__btn {
      padding: 0 4px;
      font-size: 10px;
    }

    &__next, &__next-2, &__next-3, &__prev, &__prev-2, &__prev-3 {
      cursor: pointer;
      position: absolute;
      top: calc(50% - 11px);
    }
  }
}

@media screen and (max-width: 575px) {
  .tags {

    &__prev, &__prev-2, &__prev-3 {
      left: -10px;
      transform: rotate(180deg);
    }

    &__next, &__next-2, &__next-3 {
      right: -10px;
    }

    &__btn {
      padding: 3px 8px;
      font-size: 10px;
      line-height: 14px;
    }
  }
}