.call {
  padding-bottom: 110px;

  &__wrapper {
    padding: 30px 40px 40px;
    border: 2px solid rgba($gray, .5);
    background-image: url('../img/callbg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 40px center;
  }

  &__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
  }
  &-form{
    &__wrapper{
      display: flex;
      width: 100%;
      max-width: 900px;
      justify-content: space-between;
      &>*{
        width: 30%;
      }
    }
  }
}
@media (max-width: 1399px){
  .call{
    &__wrapper{
      background-position: right center;
    }
  }
}
@media (max-width: 1199px){
  .call{
    &__wrapper{
      background-image: none;
    }
  }
}
@media (max-width: 991px){
  .call{
    &__wrapper{
      padding: 25px;
    }
    &__subtitle{
      font-size: 22px;
      line-height: 24px;
    }
  }
}
@media (max-width: 767px){
  .call{
    padding-bottom: 60px;
    &__wrapper{
      padding: 25px;
    }
    &__title{
      font-size: 22px;
      line-height: 24px;
      text-align: center;
    }
    &__subtitle{
      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }
    &-form{
      &__wrapper{
        flex-wrap: wrap;
        &>*{
          width: 100%;
          margin-bottom: 15px;
          height: 40px;
          text-align: center;
        }
      }
    }
  }
}