.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $blue;
  color: #fff;
  border-radius: $radiusBtn;
  font-size: 14px;
  line-height: 22px;
  //transition: none;
  cursor: pointer;
  transition: $transition3;
  &:hover,&.active{
    background: #001F8B;
    color: #fff;
  }
  &:active{
    transform: translateY(5px);
  }

  &-brown{
    background: #9A7F5F;
    background: $brownGr;
  }
  &-brownborder{
    background: transparent;
    border: 2px solid #C9BBAE;
    color: $brown;
    &:hover,&.active{
      background: #C9BBAE;
      color: #fff;
    }
  }
  &-blueborder{
    background: transparent;
    border: 2px solid $blue;
    color: $blue;
    font-weight: 600;
font-size: 14px;
line-height: 17px;
    &:hover,&.active{
      background: $blue;
      border: 2px solid $blue;
      color: #fff;
    }
  }
  &-transparent{
    background: #FBFBFB;
    color: $brown;
    
    &:hover,&.active{
      background: $blue;
      color: #fff;
    }
  }
}

@media screen and (max-width:767px){
  .btn{
    font-size: 13px;
  }
}