.company {
  &-block {
    padding-bottom: 110px;
  }

  &-item {
    display: flex;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 40px;
    transition: $transition3;
    &:hover{
      transform: translateY(-20px);
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      padding-right: 30px;
    }

    &__text {
      width: 60%;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 7;
      line-clamp: 7;
      height: 117px;
    }
  }
}
@media (max-width:1199px){
  .company{
    &-block{
      padding-bottom: 60px;
    }
  }
}
@media (max-width:575px){
  .company{
    &-block{
      padding-bottom: 50px;
    }
    &-item{
      padding: 15px 10px;
      flex-wrap: wrap;
      &__img,&__text{
        width: 100%;
        text-align: center;
      }
      &__img{
        padding-right: 0;

        padding-bottom: 20px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}