
@media screen and (min-width: 1920px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1920px;
  }
}
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  xxl: 1440px
);