.tab {
  display: none;
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transition: $transition3;
  width: 100%;

  &.active {
    animation: showTabs .5s;
    display: flex;
    flex-wrap: wrap;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &-nav {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &__link {
      font-weight: bold;
font-size: 18px;
line-height: 22px;
display: block;

color: #B8B8B8;
padding-right: 40px;

      &.active {
        color: $blue;
      }
    }

  }

  &-subnav {
    display: flex;
    padding-bottom: 30px;

    &__link {
      font-size: 14px;
      line-height: 24px;
      border-radius: $radiusBtn;
      padding: 6px 17px;
      background: #FBFBFB;
      text-transform: uppercase;
      margin-right: 20px;

      &:hover {
        background: rgba($blue, .7);
        color: #FFFFFF;
      }

      &.active {
        background: $blue;
        color: #FFFFFF;
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .tab {
    &-nav {
      flex-wrap: wrap;
      &__link {
font-size: 16px;
line-height: 20px;
padding-right: 30px;
padding-bottom: 15px;
white-space: nowrap;
      }
    }
  }
}



@media screen and (max-width: 991px) {
  .tab {
    &-nav {
      padding-bottom: 10px;
      margin-bottom: 10px;

      &__link {
        font-size: 14px;
        line-height: 18px;
        padding-right: 25px;
      }
    }

   
  }
}

@media screen and (max-width: 767px) {
  .tab {
    &-nav {

      &__link {
        font-size: 12px;
        line-height: 17px;
        padding-right: 15px;
      }
    }

   
  }
}
